<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-sm-12 ui-md-4">
            <p-dropdown [options]="availableLeagues" [(ngModel)]="selectedLeagueId" [filter]="true" filterBy="label,value.strLeague" (onChange)="leagueChanged($event)"></p-dropdown>
        </div>
        <div class="ui-sm-12 ui-md-4">
            <p-dropdown [options]="availableTeams" [(ngModel)]="selectedTeamId" [filter]="true" filterBy="label,value" (onChange)="teamChanged($event)"></p-dropdown>
        </div>
        <div class="ui-sm-12 ui-md-4">
            <p-dropdown [options]="availableRounds" [(ngModel)]="selectedRound" [filter]="true" filterBy="label,value" (onChange)="roundChanged($event)"></p-dropdown>
        </div>
    </div>
</div>

<div class="row m-1 justify-content-center">
    Dostępne mecze:
</div>

<p-table
    [columns]="cols" 
    [value]="eventsFiltered" 
    [paginator]="true" 
    [rows]="numberOfRows"
    [rowHover]="true"
    [responsive]="true"
    [autoLayout]="true"
    [loading]="isLoading"
    [loadingIcon]="'fa fa-spinner fa-pulse fa-3x fa-fw'"
    [reorderableColumns]="true">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" 
                [pSortableColumn]="col.field" 
                pReorderableColumn
                class="text-center">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th class="text-center">
                Typuj
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="ui-selectable-row">
            <td *ngFor="let col of columns" class="myHeaderTab">
                <span class="ui-column-title">{{col.header}}</span>
                {{rowData[col.field]}}
            </td>

            <td class="text-center">
                <button class="btn btn-sm btn-outline-primary" (click)="showTipDialog(rowData)">
                    <i class="pi pi-pencil"></i>
                </button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length+1">
                Brak meczy.
            </td>
        </tr>
    </ng-template>

</p-table>

<p-dialog 
    [(visible)]="displayTipDialog" 
    [modal]="true"
    [baseZIndex]="10000"
    [draggable]="false" 
    [resizable]="false">

    <p-header>
        Twój Typ
    </p-header>

    <div class="ui-fluid" *ngIf="selectedEvent!=null">
        <div class="ui-g">

            <div class="ui-g-12 myHeader">
                <div class="ui-g-5 text-center font-weight-bold">
                    {{selectedEvent.strHomeTeam}}
                </div>
                <div class="ui-g-2 text-center">
                    vs
                </div>
                <div class="ui-g-5 text-center font-weight-bold">
                    {{selectedEvent.strAwayTeam}}
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-5 justify-content-center">
                    <span class="ui-float-label">
                        <input id="float-input" type="number" size="1" pInputText [(ngModel)]="homeTeamScore"> 
                        <label for="float-input">Gospodarze</label>
                    </span>
                </div>
                <div class="ui-g-2 text-center">
                    <b style="font-size: x-large;">:</b>
                </div>
                <div class="ui-g-5 justify-content-center">
                    <span class="ui-float-label">
                        <input id="float-input" type="number" size="1" pInputText [(ngModel)]="awayTeamScore"> 
                        <label for="float-input">Goście</label>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="row m-2 justify-content-end">
        <button class="btn btn-sm btn-outline-success m-1" (click)="saveTip()"><i class="pi pi-check"></i></button>
        <button class="btn btn-sm btn-outline-danger m-1" (click)="cancelTip()"><i class="pi pi-times"></i></button>
    </div>

</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
