<div class="content h-100 bg-light">
    <div class="row m-1 pt-3">
        <div class="mx-3">
            <p-dropdown [options]="availableLeagues" [(ngModel)]="selectedLeagueId" [filter]="true" filterBy="label,value.strLeague" (onChange)="leagueChanged($event)"></p-dropdown>
        </div>
        <div class="mx-3">
            <p-dropdown [options]="availableTeams" [(ngModel)]="selectedTeamId" [filter]="true" filterBy="label,value" (onChange)="teamChanged($event)"></p-dropdown>
        </div>
        <div class="mx-3">
            <p-dropdown [options]="availableRounds" [(ngModel)]="selectedRound" [filter]="true" filterBy="label,value" (onChange)="roundChanged($event)"></p-dropdown>
        </div>
    </div>
    <div class="row m-1 justify-content-center">
        Dostępne mecze:
    </div>

    <p-table
        [columns]="cols" 
        [value]="eventsFiltered" 
        [paginator]="true" 
        [rows]="7"
        [rowHover]="true"
        [responsive]="true"
        [autoLayout]="true"
        [loading]="isLoading"
        [reorderableColumns]="true">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" 
                    [pSortableColumn]="col.field" 
                    pReorderableColumn
                    style="text-align: center;">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="text-align: center;">
                    Typuj
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="ui-selectable-row">
                <td *ngFor="let col of columns" style="text-align: center;">
                    <span class="ui-column-title">{{col.header}}</span>
                    {{rowData[col.field]}}
                </td>
                
                <td style="text-align: center;">
                    <button class="btn btn-sm btn-outline-primary" (click)="showTipDialog(rowData)">
                        <i class="pi pi-pencil"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length+1">
                    Brak meczy.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="displayTipDialog" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
    <p-header>
        Twój Typ
    </p-header>
    <div *ngIf="selectedEvent!=null" style="font-size: xx-large; font-family: Verdana;">
        <div class="row mt-1 my-3 justify-content-center">
            {{selectedEvent.strEvent}}
        </div>
        <div class="row mt-1 my-3 justify-content-center" style="font-size: large;">
            <span class="ui-float-label">
                <input id="float-input" type="number" size="1" pInputText [(ngModel)]="homeTeamScore"> 
                <label for="float-input">Gospodarze</label>
            </span>
            :
            <span class="ui-float-label">
                <input id="float-input" type="number" size="1" pInputText [(ngModel)]="awayTeamScore"> 
                <label for="float-input">Goście</label>
            </span>
        </div>
    </div>
    <p-footer>
        <button class="btn btn-sm btn-outline-success" (click)="saveTip()"><i class="pi pi-check"></i></button>
        <button class="btn btn-sm btn-outline-danger" (click)="cancelTip()"><i class="pi pi-times"></i></button>
    </p-footer>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>