<p-dialog 
    [(visible)]="displayRegisterDialog" 
    [modal]="true" 
    
    [closable]="false" 
    [baseZIndex]="10000"
    [draggable]="false" 
    [resizable]="false">

        <p-header>
            <h2 class="text-center">Rejestracja</h2>
        </p-header>

        <form [formGroup]="formGroup">

            <div *ngIf="passwordFormControl.touched 
                        && passwordConfirmationFormControl.touched 
                        && formGroup.errors?.passwordsNotEqual"
                 class="alert alert-danger">
                    Hasła nie są takie same.
            </div>

            <div *ngIf="usernameFormControl.errors?.notFree"
                 class="alert alert-danger">
                    Nazwa użytkownika zajęta.
            </div>

            <div class="row m-4"> 
                <input 
                    type="text" 
                    formControlName="username"  
                    class="form-control" 
                    placeholder="Nazwa Użytkownika"
                    [ngClass]="{ 'is-invalid': usernameFormControl.touched 
                                    && usernameFormControl.invalid
                                    }">

            </div>  
    
            <div class="row m-4">
                <input 
                    type="password" 
                    formControlName="password"
                    class="form-control" 
                    placeholder="Hasło"
                    [ngClass]="{ 'is-invalid': passwordFormControl.touched 
                                    && passwordFormControl.invalid }"/>
            </div>
    
            <div class="row m-4">
                <input 
                    type="password" 
                    formControlName="passwordConfirmation" 
                    class="form-control" 
                    placeholder="Powtórz Hasło"
                    [ngClass]="{ 'is-invalid': passwordConfirmationFormControl.touched 
                                    && passwordConfirmationFormControl.invalid }">
            </div>
    
            <div class="row m-4">
                <button
                    [disabled]="formGroup.invalid"
                    class="btn btn-lg btn-outline-light btn-block" 
                    (click)="signUp()">
                    Zarejestruj się.
                </button> 
            </div>  

        </form>

        <div class="row mt-4 mb-2 justify-content-center">
            <a class="text-light" [routerLink]="['/login']">Zaloguj się</a> 
        </div>
</p-dialog> 

<p-toast [style]="{marginTop: '80px'}"></p-toast>
