
<p-table #tt
        [value]="userTips" 
        [paginator]="true" 
        [rows]="7"
        [responsive]="true"
        [globalFilterFields]="['str_league','round','str_home_team','str_away_team','event_date','event_hour','user_score']">

        <ng-template pTemplate="caption">
            <input 
                type="text" 
                pInputText size="50" 
                placeholder="Szukaj" 
                (input)="tt.filterGlobal($event.target.value, 'contains')" 
                style="width:auto">
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Liga</th>
                <th>Kolejka</th>
                <th>Gospodarz</th>
                <th>Gość</th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Wynik</th>
                <th>Typowany wynik</th>
                <th>Moje punkty</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-userTip>
            <tr style="text-align: center;">
                <td>
                    <span class="ui-column-title">Liga</span>
                    {{userTip.str_league}}
                </td>
                <td>
                    <span class="ui-column-title">Kolejka</span>
                    {{userTip.round}}
                </td>
                <td>
                    <span class="ui-column-title">Gospodarz</span>
                    {{userTip.str_home_team}}
                </td>
                <td>
                    <span class="ui-column-title">Gość</span>
                    {{userTip.str_away_team}}
                </td>
                <td>
                    <span class="ui-column-title">Data</span>
                    {{userTip.event_date}}
                </td>
                <td>
                    <span class="ui-column-title">Godzina</span>
                    {{userTip.event_hour}}
                </td>
                <td>
                    <span class="ui-column-title">Wynik</span>
                    {{userTip.home_score}} : {{userTip.away_score}}
                </td>
                <td class="text-primary font-weight-bold">
                    <span class="ui-column-title">Typowany wynik</span>
                    {{userTip.user_tip_home_score}} : {{userTip.user_tip_away_score}}
                </td>
                <td class="text-primary font-weight-bold">
                    <span class="ui-column-title">Moje punkty</span>
                    {{userTip.user_score}}
                </td>
            </tr>
        </ng-template>

    </p-table>


<!-- <p-table 
        [columns]="cols" 
        [value]="userTips" 
        [paginator]="true" 
        [rows]="5">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table> -->

    
