<p-table #tt
        [columns]="cols"
        [value]="userTips" 
        [paginator]="true" 
        [rows]="numberOfRows"
        [responsive]="true"
        [autoLayout]="true"
        [reorderableColumns]="true"
        [globalFilterFields]="['str_league','round','str_home_team','str_away_team','event_date','event_hour','user_score']">
        
        <ng-template pTemplate="caption">
            <input 
                type="text" 
                pInputText size="25" 
                placeholder="Szukaj" 
                (input)="tt.filterGlobal($event.target.value, 'contains')" 
                style="width:auto">
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
                <th *ngFor="let col of columns"
                    [pSortableColumn]="col.field" 
                    pReorderableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>Wynik</th>
                <th>Typowany wynik</th>
                <th>Moje punkty</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-userTip let-rowData let-columns="columns">
            <tr class="text-center">
                <td *ngFor="let col of columns">
                    <span class="ui-column-title">{{col.header}}</span>
                    {{rowData[col.field]}}
                </td>
                <td>
                    <span class="ui-column-title">Wynik</span>
                    {{userTip.home_score}} : {{userTip.away_score}}
                </td>
                <td class="text-primary font-weight-bold">
                    <span class="ui-column-title">Typowany wynik</span>
                    {{userTip.user_tip_home_score}} : {{userTip.user_tip_away_score}}
                </td>
                <td class="text-primary font-weight-bold">
                    <span class="ui-column-title">Moje punkty</span>
                    {{userTip.user_score}}
                </td>
            </tr>
        </ng-template>

    </p-table>

    
