<p-dialog 
    [(visible)]="displayLoginDialog" 
    [modal]="true" 
    
    [closable]="false" 
    [baseZIndex]="10000"
    [draggable]="false" 
    [resizable]="false">

        <p-header>
            <h2 class="text-center">Logowanie</h2>
        </p-header>

        <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
            <div class="row m-4" *ngIf="invalidLogin" class="alert alert-danger">
                Niepoprawna nazwa użytkownika i/lub hasło.
            </div>
            <div class="row m-4">
                <label for="inputUsername" class="sr-only">Nazwa użytkownika</label>  
                <input type="text" id="inputUsername" name="username" ngModel class="form-control" placeholder="Nazwa Użytkownika" required autofocus>  
            </div>  
            <div class="row m-4">
                <label for="inputPassword" class="sr-only">Hasło</label>  
                <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Hasło" required>
            </div>
            <div class="row m-4">
                <button class="btn btn-lg btn-outline-light btn-block" type="submit">Zaloguj się.</button> 
            </div>  
            <div class="row mt-4 mb-2 justify-content-center">
                <a class="text-light" [routerLink]="['/register']">Zarejestruj się</a> 
            </div>
        </form>

</p-dialog> 
