<div class=" h-100 bg-dark">
    <h5 class="p-2 ml-2 text-light">Suma moich punktów: {{totalPoints}}</h5>

    <span class="text-center text-light">
        <h3>Klasyfikacja</h3>
    </span>

    <div class="row mt-1 pb-2 mx-3 justify-content-center">

        <div class="mx-3 my-2">
            <p-dropdown [options]="availableLeagues" [(ngModel)]="selectedLeagueId" [filter]="true"
                filterBy="label,value.strLeague" (onChange)="leagueChanged($event)">
            </p-dropdown>
        </div>

        <div class="mx-3 my-2">
            <p-dropdown [options]="availableTeams" [(ngModel)]="selectedTeamId" [filter]="true" filterBy="label,value"
                (onChange)="teamChanged($event)">
            </p-dropdown>
        </div>

    </div>
</div>

<p-table #tt 
    [columns]="cols" 
    [value]="scores" 
    [paginator]="true" 
    [rows]="numberOfRows" 
    [rowHover]="true" 
    [responsive]="true"
    [autoLayout]="true" 
    [loading]="isLoading" 
    [loadingIcon]="'fa fa-spinner fa-pulse fa-3x fa-fw'"
    [reorderableColumns]="true" 
    [globalFilterFields]="['username']">

    <ng-template pTemplate="caption">
        <input type="text" pInputText size="25" placeholder="Szukaj użytkownika"
            (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn class="text-center">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="ui-selectable-row"
            [ngClass]="rowData.username == authService.currentUser.sub ? 'text-primary font-weight-bold' : null">
            <td *ngFor="let col of columns">
                <span class="ui-column-title">{{col.header}}</span>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

</p-table>
